# JS
node_modules/
.metro-cache/
*.jsbundle

# Android generated / secret
android/app/debug.keystore
android/app/release.keystore
android/app/build/
android/build/
android/.gradle/
android/gradle/wrapper/gradle-wrapper.jar
android/local.properties

# iOS generated
ios/Pods/
ios/build/
ios/DerivedData/
*.xcworkspace
*.xcuserdata

# Misc
.env
.env.*
*.log
